.worktrees/
.assets
.docs
.env
.cursor/
*.pyc
dist/
build/
docs/
third_party/
*.egg-info/
*.egg
*.pycs
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
.venv/
venv/
__pycache__/
poetry.lock
.pytest_cache/
botpy.log
botpy.log.*
tests/
third_party/
nano.*.save